<section>
    <div class="container">
        <div class="my-5">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="font-weight-bolder">
                        Hello!!! <br>
                        We Are Creative <br>
                        Digital Agency.
                    </h1>
                    <p class="my-lg-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe accusamus sunt voluptatem consequuntur explicabo pariatur ipsam, </p>

                    <a routerLink="/contact" mat-raised-button color="warn" class="btn btn-warning my-3">SEND MESSAGE</a>
                </div>
                <div class="col-md-6 overflow-hidden">
                    <img src="https://image.freepik.com/free-photo/low-angle-shot-high-rise-skyscrapers-clear-sky-frankfurt-germany_181624-6859.jpg" alt="Intro Image"  style="width:100%; height:570px; object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h3 class="section-header">WORK SHOWCASE.</h3>

        <div>
            <button class="btn btn-warning" data-toggle="collapse" data-target="#lists">
                <span class="fa fa-bars"></span>
            </button>
            <ul id="lists" class="list collapse">
                <li data-filter="all" class="active">All</li>
                <li data-filter="mobile">Mobile</li>
                <li data-filter="camera">Camera</li>
                <li data-filter="watch">Watch</li>
                <li data-filter="shoe">Shoe</li>
                <li data-filter="headphone">Headphone</li>
            </ul>
           
        </div>
        <div class="products">
            <div class="product-item mobile"><img src="assets/images/mobile1.jpg" alt=""></div>
            <div class="product-item camera"><img src="assets/images/camera1.jpg" alt=""></div>
            <div class="product-item watch"><img src="assets/images/watch1.jpg" alt=""></div>
            <div class="product-item shoe"><img src="assets/images/shoe1.jpg" alt=""></div>
            <div class="product-item headphone"><img src="assets/images/headphone1.jpg" alt=""></div>
            <div class="product-item mobile"><img src="assets/images/mobile2.jpg" alt=""></div>
            <div class="product-item camera"><img src="assets/images/camera2.jpg" alt=""></div>
            <div class="product-item watch"><img src="assets/images/watch2.jpg" alt=""></div>
            <div class="product-item shoe"><img src="assets/images/shoe2.jpg" alt=""></div>
            <div class="product-item headphone"><img src="assets/images/headphone2.jpg" alt=""></div>
            <div class="product-item mobile"><img src="assets/images/mobile3.jpg" alt=""></div>
            <div class="product-item camera"><img src="assets/images/camera3.jpg" alt=""></div>
            <div class="product-item watch"><img src="assets/images/watch3.jpg" alt=""></div>
            <div class="product-item shoe"><img src="assets/images/shoe3.jpg" alt=""></div>
            <div class="product-item headphone"><img src="assets/images/headphone3.jpg" alt=""></div>
            <div class="product-item mobile"><img src="assets/images/mobile4.jpg" alt=""></div>
            <div class="product-item mobile"><img src="assets/images/mobile5.jpg" alt=""></div>
            <div class="product-item watch"><img src="assets/images/watch4.jpg" alt=""></div>
            <div class="product-item shoe"><img src="assets/images/shoe4.jpg" alt=""></div>
            <div class="product-item headphone"><img src="assets/images/headphone4.jpg" alt=""></div>
        </div>

        <!-- <button class="btn btn-warning" id="showAll" (click)="showPro()">View All</button> -->
    </div>
</section>

<section class="logos">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-6">
                <img src="assets/images/logo1.png" alt="">
            </div>
            <div class="col-lg-2 col-6">
                <img src="assets/images/logo2.png" alt="">
            </div>
            <div class="col-lg-2 col-6">
                <img src="assets/images/logo3.png" alt="">
            </div>
            <div class="col-lg-2 col-6">
                <img src="assets/images/logo4.png" alt="">
            </div>
            <div class="col-lg-2 col-6">
                <img src="assets/images/logo5.png" alt="">
            </div>
            <div class="col-lg-2 col-6">
                <img src="assets/images/logo6.png" alt="">
            </div>
        </div>
    </div>
</section>