<section>
    <div class="container">
        <div class="my-5">
            <h3 class="section-header">OUR BLOG.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio illum dolores tenetur rem iusto quis sapiente?</p>
            <p> officiis natus maiores, omnis voluptatum qui ab, quasi a laborum</p>
        </div>
        <div class="blog">
            <div>
                <div class="card-deck">
                    <div class="card" >
                        <img class="card-img-top" src="https://img.freepik.com/free-photo/various-electronic-gadgets-wooden-background_23-2147797027.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="card-text-title"><a routerLink="/blog">super blog article</a></p>
                                <p>
                                    Some quick example text to build on the card title and make up the bulk of the card's
                                    content.
                                </p>
                                <span>24 September 2020</span>
                            </div>
                        </div>
                    </div>
                    <div class="card" >
                        <img class="card-img-top" src="https://image.freepik.com/free-vector/realistic-wireless-earphones-illustration_1284-20763.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="card-text-title"><a routerLink="/blog">super blog article</a></p>
                                <p>
                                    Some quick example text to build on the card title and make up the bulk of the card's
                                    content.
                                </p>
                                <span>24 September 2020</span>
                            </div>
                        </div>
                    </div>
                    <div class="card" >
                        <img class="card-img-top" src="https://image.freepik.com/free-photo/pro-photography-equipment_1426-1771.jpg" alt="Card image cap">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="card-text-title"><a routerLink="/blog">super blog article</a></p>
                                <p>
                                    Some quick example text to build on the card title and make up the bulk of the card's
                                    content.
                                </p>
                                <span>24 September 2020</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>